<section>
  <div class="px-5">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-8 text-white">
        <h2>Favorites <span>Items</span></h2>

        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/images/eating a variety of foods-amico.svg"
          alt="eatting food"
          class="w-50"
        />
      </div>
    </div>
  </div>
</section>

<div class="container my-5">
  <div class="row g-3">
    <div class="col-md-4" *ngFor="let item of favoritesData">
      <div class="recipe-card shadow-sm h-100">
        <div class="card-image-wrapper position-relative">
          <img
            [src]="imgUrl + item.recipe.imagePath"
            class="w-100"
            alt="Recipe Image"
          />

          <button
            class="fav-icon-btn shadow-sm"
            (click)="removeItem(item.id, item.recipe.name)"
          >
            <i class="fa-solid fa-heart text-success"></i>
          </button>
        </div>

        <div class="card-body p-3">
          <h5 class="recipe-title fw-bold mb-2">{{ item.recipe.name }}</h5>
          <p class="recipe-desc text-muted mb-0">
            {{ item.recipe.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="favoritesData.length == 0" class="text-center p-5">
  <img
    src="/assets/images/freepik--Character--inject-70.png"
    alt="cartoon character"
  />
  <p class="mt-3">No Favorite recipe yet !</p>
</div>
