.auth-login {
  background-image: url("/assets/images/layer-bg.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.auth-card {
  max-width: 600px;
  border: none;
  border-radius: 1.5rem;
}

.main-logo {
  max-width: 366px;
  display: block;
}

.custom-input {
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.custom-input .input-group-text {
  background-color: transparent;
  border: none;
  padding-left: 15px;
  padding-right: 5px;
  color: #888;
}

.custom-input .v-separator {
  width: 1px;
  height: 30px;
  background-color: #ddd;
  margin: 0 10px;
}

.custom-input .form-control {
  background-color: transparent ;
  border: none ;
  padding: 12px 10px;
  font-size: 0.9rem;
}
.custom-input .form-control:focus {
  box-shadow: none;
  outline: none;
}
.toggle-password {
  background: transparent;
  border: none;
  color: #888;
  padding-right: 15px;
  cursor: pointer;
  transition: color 0.2s;
}

.toggle-password:hover {
  color: #4ca867;
}

.auth-link {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
}

.text-success {
  color: #4ca867 ;
}

.login-btn {
  background-color: #4ca867;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #3d8b54;
  transform: translateY(-1px);
}
