<div class="auth-login d-flex align-items-center justify-content-center">
  <div class="auth-card container p-5 bg-white shadow">
    <div class="header text-start">
      <div class="logo-container mb-4">
        <img
          src="assets/images/main-logo.png"
          alt="food recipes logo"
          class="main-logo"
        />
      </div>

      <div class="title mb-4">
        <h2 class="fw-bold h4">Reset Password</h2>
        <p class="text-muted">Please Enter Your Otp or Check Your Inbox</p>
      </div>

      <div class="card-form">
        <form [formGroup]="resPassForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3 custom-input">
            <span class="input-group-text">
              <i class="fa-regular fa-envelope text-muted"></i>
            </span>

            <div class="v-separator"></div>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Enter your E-mail"
              readonly
            />
          </div>

          <div
            class="alert alert-danger"
            *ngIf="
              resPassForm.get('email')?.errors &&
              resPassForm.get('email')?.touched
            "
          >
            <p
              class="my-0"
              *ngIf="resPassForm.get('email')?.errors?.['required']"
            >
              Email is requierd
            </p>
            <p class="my-0" *ngIf="resPassForm.get('email')?.errors?.['email']">
              Email is Invalid
            </p>
          </div>

          <div class="input-group mb-3 custom-input">
            <span class="input-group-text">
              <i class="fa-solid fa-lock text-muted"></i>
            </span>

            <div class="v-separator"></div>
            <input
              formControlName="seed"
              type="seed"
              class="form-control"
              placeholder="OTP"
            />
          </div>

          <div
            class="alert alert-danger"
            *ngIf="
              resPassForm.get('seed')?.errors &&
              resPassForm.get('seed')?.touched
            "
          >
            <p
              class="my-0"
              *ngIf="resPassForm.get('seed')?.errors?.['required']"
            >
              OTP is requierd
            </p>
          </div>
          <div class="input-group mb-2 custom-input password-input-group">
            <span class="input-group-text">
              <i class="fa-solid fa-lock text-muted"></i>
            </span>

            <div class="v-separator"></div>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />

            <button
              class="btn toggle-password"
              type="button"
              (click)="togglePassword()"
            >
              <i
                class="fa-regular"
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </button>
          </div>

          <div
            class="alert alert-danger my-0"
            *ngIf="
              resPassForm.get('password')?.errors &&
              resPassForm.get('password')?.touched
            "
          >
            <p
              class="my-0"
              *ngIf="resPassForm.get('password')?.errors?.['required']"
            >
              Password is reqired
            </p>
            <p
              class="my-0"
              *ngIf="resPassForm.get('password')?.errors?.['pattern']"
            >
              Password is Invalid must have Minimum eight characters, at least
              one uppercase letter, one lowercase letter, one number and one
              special character.
            </p>
          </div>

          <div class="input-group custom-input">
            <span class="input-group-text"
              ><i class="fa-solid fa-lock text-muted"></i
            ></span>
            <div class="v-separator"></div>
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="confirm-password"
            />
            <button
              class="btn toggle-password"
              type="button"
              (click)="toggleConfirmPassword()"
            >
              <i
                class="fa-regular"
                [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </button>
          </div>
          <div
            class="alert alert-danger my-0 py-0 mt-1"
            *ngIf="
              resPassForm.get('confirmPassword')?.errors &&
              resPassForm.get('confirmPassword')?.touched
            "
          >
            <p *ngIf="resPassForm.get('confirmPassword')?.errors?.['required']">
              Confirm password is required
            </p>
            <p
              *ngIf="
                resPassForm.errors?.['mismatch'] &&
                resPassForm.get('confirmPassword')?.touched
              "
            >
              Password and Confirm Password must match
            </p>
          </div>

          <button
            [disabled]="resPassForm.invalid"
            type="submit"
            class="btn btn-success w-100 py-2 mt-3 fw-bold login-btn"
          >
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
